@charset "utf-8";
/* CSS Document */

html{ margin:0px; padding: 0px;}
body{color:#0b4b75; padding:0; margin:0px auto;overflow-x: hidden; font-family: 'Nunito Sans', sans-serif; font-size: 18px; 
-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a{color: #0b4b75; text-decoration: none;}
a:hover{ text-decoration: underline; color: #57abb5;}
img {max-width: 100%;}
.wrapper{ width:100%; margin: auto;}
.container{ width:1170px; margin: auto;}
.top-header{width:100%; float: left; padding: 40px 0px;}
.logo{ float:left; margin: 0px; padding: 0px;width: 30%}
.navigation{ float:left; margin: 30px 0 0 0px; padding: 0px; width: 70%}

.section{ width:100%; float: left; padding: 80px 0 50px 0;}
.section.offer-sec{  padding-top: 30px;}
.content-sec{ width:55%; float: left; margin: 0px; line-height: 26px;}
.content-sec span{font-size: 30px; color: #d7a343; font-weight: 600; line-height: 38px; }
.content-image{ width:45%; float: left; text-align: center; margin: 20px 0 0 0;}
.cta{ background:#57abb5; width:100%; float: left; margin: 30px 0 0 0px;}
.cta .picture{ background:url("../images/picture-bg.png"); float: left; margin: 0px 0 0 25px; padding:0px 0 0 0px; text-align: center; width: 24%;  background-repeat:no-repeat}
.cta .text{ font-size: 30px; font-weight:lighter; color: #fff; float: left; width: 66%; padding: 14px 0; line-height: 30px;}
.cta .text p{ font-size: 24px; font-weight:600; margin: 0px; }
.cta .text p a{ color: #fff; text-decoration: none;}

.graph{ float:left; margin-top: 20px; width: 100%;}
.home-box{ width:32%; float: left; margin: 0px; padding-right:20px;}
.home-box:last-child{padding-right:0px;}
.home-box .heading{width: 100%; float: left;}
.home-box .heading .icon{float: left; width: 18%; margin-top:7px;}
.home-box .heading .text{width: 82%; font-size: 24px; color: #d7a343; float: left; margin-bottom: 20px;}
.home-box .heading .text p{font-size: 16px; color: #0b4b75; margin: 0px;}

.value-find { width:calc(100% - 14px); float: left; background:#f9f1e3; position: relative; padding: 50px 0px 10px 0 ; /*border-width:0 35px; border-style: solid;  border-image: url( "../images/border.jpg") 0% 100%;*/ margin-bottom: 20px; border-right:#fff solid 14px;	 }
.value-find:before { content:''; position: absolute; top:0; left:0px; width:14px; height:100%; background: #c2c5ba; }
.value-find:after { content:''; position: absolute; top:0; left:22px; width:14px; height:100%; background: #ffffff; border-left: 14px solid #0b4b75; border-right: 14px solid #d7a343 }
.value-find .heading{ text-align: center; font-size: 34px; color: #d7a343; margin:0px 0 30px 0;  } 
.value-find .circle-outer{ width: 20%;float: left; text-align: center } 
.value-find .circle{ width: 198px; background:#fff url( "../images/tick1.png") center no-repeat; border: 4px solid #57abb5; text-align: center; font-size: 30px; color: #0b4b75;  border-radius: 50%; height: 130px; padding-top: 70px; line-height: 30px; float: left; margin: 20px 14px; } 
.value-find .tick2{background: #fff url( "../images/tick2.png") center no-repeat; border: 4px solid #d9a84d;} 
.value-find .tick3{background: #fff url( "../images/tick3.png") center no-repeat; border: 4px solid #84858c;} 
.value-find .tick4{background: #fff url( "../images/tick4.png") center no-repeat; border: 4px solid #aa518f;} 
.value-find .tick5{background: #fff url( "../images/tick5.png") center no-repeat; border: 4px solid #0b4b75;} 

.footer-left{ width: 40%; float: left; font-size: 20px; font-weight: 600; line-height: 25px;}
.footer-left p{font-size: 17px; margin: 0px; font-weight: lighter}
.footer-left p a{ color: #0b4b75; text-decoration: none;}
.footer-left p a:hover{ color: #57abb5;}
.footer-right{ width: 60%; float: left; margin-top: 100px;}
.footer-right ul{ margin: 0px; padding: 0px; float: right}
.footer-right li{ display: inline; }
.footer-right li a{ color: #0b4b75; padding: 0 20px; display: inline; float: left; text-decoration: none;}
.footer-right li a:hover{ color: #57abb5;}

.footer-border{ width:100%; background: url( "../images/footer-bg.jpg"); height: 39px; float: left; margin-bottom: 20px;}
.m-0{margin: 0px!important;}

.pop-up { margin: auto; left: 50%; transform: translateX(-50%);z-index: 999;position: absolute; top: 0px; background: #fff; box-shadow: 0px 0px 2px 2px #000; padding:5px 35px; width:100%; max-width:970px; box-sizing: border-box; text-align: center; }
.pop-up p{ float: left; font-weight: 700; color: #000; font-weight: bold; margin: 0px; margin-top: 7px;}
.pop-up .icon{ float: left; margin-left: 20px; position: absolute;right: 20px; top: 50%; transform: translateY(-50%);}

/*internal page css*/
.banner{float: left; width:100%;position: relative; height: 250px; overflow:hidden; background-size:cover;  background-repeat:no-repeat}
.banner img{position: absolute;left: 50%;top: 50%; transform: translate(-50%, -50%); width: 100%; max-width: inherit;}
.breadcrum { background:url("../images/breadcrum-bg.png") no-repeat; height: auto; float: left;  width:454px;background-position: 0px 15px; position: absolute; padding-bottom: 52.5%; background-size: 100%;}
.breadcrum .text{font-size: 43px; color: #d7a343;position: absolute;top: 200px;left: 120px;   white-space:pre}
.internal{ width: 100%; background: url("../images/internal-bg.png") no-repeat center; background-position:center 32%;}
.internal.forwhom{ background-position:center 80%;}
.internal-content-sec-left{ width:63%; float: left; margin: 0px; line-height: 26px;}
.internal-content-sec-left a{color: #57abb5; white-space: pre-line; word-wrap:break-word; }
.internal-content-sec-left .heading{font-size: 24px; color: #d7a343; font-weight: 600; line-height: 38px; margin-top: 0px; }

.top-section{ width:100%; float: left; margin: 0px 0 0px 0px;}
.top-section .links{ background:#d5e9ec; width: 87%; float: left; padding: 20px; margin-left: 0px; box-sizing: border-box; position: relative; z-index: 1; margin-bottom:50px;}
.top-section .links ul{padding: 0px 50px; margin: 0px;}
.top-section .links li{padding: 0px; margin: 0px; list-style:url("../images/bullet.png"); line-height: 22px;}
.top-section .links li a{ color: #0b4b75; text-decoration: none;}
.top-section .links li a:hover{ color: #57abb5; text-decoration: none;}
/* Added by RT*/
.top-section .white{ background:#fff;}
/* End of added by RT*/

.internal-content-sec-right{ width:37%; float: left; margin: 0px; line-height: 26px;}
.internal-content-sec-right .blue{ width:100%; float: left; margin: 0px 0 0 0px; }
.section.offer-sec  .internal-content-sec-right .blue{  margin: 65px 0 0 0px; }
.internal-content-sec-right .blue .border{ float: left; width: 78px}
.internal-content-sec-right .blue .content{ float: left;   width: calc(100% - 138px);   padding: 10px 30px; background: #57abb5; color: #fff; font-size: 21px;font-weight: 600;}
.internal-content-sec-right .blue .content p{ font-size: 16px; margin: 0px; line-height: 19px;	}
.internal-content-sec-right .blue .content p a { color:#fff; }
.internal-content-sec-right .blue .content p a:hover { text-decoration:underline; }


.internal-content-sec-right .content-image{text-align: center; width: 100%;}
.gold-heading{ font-size: 28px; color: #d7a343; margin: 30px 0;float: left;width: 100%;}
.bottom{color: #57abb5; margin: 0px; line-height: 26px;}
.bottom .heading{color: #0b4b75; margin: 30px 0 0 0px; line-height: 26px; font-size: 18px;font-weight: bold;}
.bottom p{ margin-top:5px;}

.voorbeelden .heading{ text-align:left;}
.voorbeelden .box{ width: 49%; padding: 30px; background: #fff; float: left; margin-right: 2%; box-sizing: border-box; margin-bottom: 30px; min-height:370px; }
.voorbeelden .box:nth-child(2n+1){ margin-right:0px; }
/*.voorbeelden .box:last-child{margin-right:0px;}*/
.voorbeelden .box .text{width: calc(100% - 200px);  background: #fff; font-size: 15px; line-height: 18px; float: left; padding-right: 30px;}
.voorbeelden .box .graph{ float: left; width: 170px; margin: 0px;}
.voorbeelden .box .text1{width: calc(100% - 273px);  background: #fff; font-size: 15px; line-height: 18px; float: left; padding-right: 30px;}
.voorbeelden .box .graph1{ float: left; width: 240px; margin: 0px; text-align: right;}


.voorbeelden .box .testimonial-info{ float:right; width:200px;}
.voorbeelden .box .testimonial-info .graph{ width:100%;}
.testimonials-sec .testimonial-name{  color:#d7a343; font-size:17px; display:inline-block; margin-top:20px}
.testimonials-sec .testimonial-linkedin{  color:#57abb5;}
.testimonials-sec .testimonial-linkedin a{  color:#57abb5;}
.voorbeelden.testimonials-sec .box .text{ font-size:18px; line-height:21px;}
.voorbeelden.testimonials-sec  .box{ min-height:270px;}
.voorbeelden.testimonials-sec  .box .text{width: calc(100% - 232px);}

.wie-ben-ik-top-yellow{ background:#d7a343; width: 87%; float: left; padding: 30px 40px; margin: 0px 0 50px 0; box-sizing: border-box; font-size: 23px; color: #fff;}
.wie-ben-ik-top-yellow p{font-size: 17px;  margin: 0px;}
.bio{ width:100%; float: left; border: #9b327a 3px solid; padding: 40px; box-sizing: border-box;}
.bio .picture{ width:391px; float: left; margin-top:40px;}
.bio .content{ width:calc(100% - 460px) ; float: left; padding-left: 50px; color: #9b327a;}
.bio .content .heading{ font-size: 28px; margin-bottom: 20px;}
.bio .content p{color: #57abb5; margin: 0 0 20px 0px;}
.field-main{width:100%; float: left;} 
.field-left{width:40%; float: left; } 
.field{width:100%; float: left; margin-bottom: 20px;} 
.text-field-caption{width:100%; float: left; font-size: 19px; color: #0b4b75; margin-bottom: 5px; } 
.text-field{width:100%; float: left; font-size: 16px; color: #0b4b75; box-sizing: border-box; padding: 12px 20px; background: #fff; border: none;  } 
.field-right{width:60%; float: left; padding-left: 40px; box-sizing: border-box; } 
.field2{width:80%; float: left; margin-bottom: 20px;} 
.field3{width:20%; float: left; margin-bottom: 20px;padding-left: 20px; box-sizing: border-box; } 
.field4{width:30%; float: left; margin-bottom: 20px;} 
.field5{width:70%; float: left; margin-bottom: 20px;padding-left: 20px; box-sizing: border-box; } 
.field6{width:60%; float: left; margin-bottom: 20px;} 
.field7{width:40%; float: left; margin-bottom: 20px;padding-left: 20px; box-sizing: border-box; } 
.fieldhalf{width:50%; float: left; margin-bottom: 20px;padding-left: 20px; box-sizing: border-box; } 
.fieldhalf.removepad{ padding-left:0px;}
.field-left-contact{width:75%; float: left; } 
 button.btn { width:200px; float:left; background:#fff; color:#57abb5;  border:#57abb5 solid 1px; height:40px; line-height:40px;  margin-right:20px; cursor: pointer; font-size: 18px; font-family: 'Nunito Sans', sans-serif; }
 button.btn:hover {  background:#57abb5; border:#57abb5 solid 1px; color:#fff }
 
 .contactbtn span { width:300px; text-align:center; float:left; background:#fff; color:#57abb5;  border:#57abb5 solid 1px; height:40px; line-height:40px;  margin-right:20px; cursor:pointer;  }
 .contactbtn span:hover,  .contactbtn span.active  {  background:#57abb5; border:#57abb5 solid 1px; color:#fff !important;  text-decoration:none }
 
 .invalid-feedback {color:red; font-size:13px; font-weight:bold; margin-top:10px; display:inline-block}
 .internal-content-sec-left p{ /* max-width:500px;*/ margin-bottom:20px;	 margin-top:0px;}
 .contactinfo ul { padding:0px; margin:0px; }
 .contactinfo li { list-style:none; padding:0px; margin:0px; }
 .contactinfo li span { display:inline-block;  width:250px; color:#d7a343;}
  
 .message-overlay{ position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0, 0.5);}
 .message-overlay .sucess-txt{ position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);  text-align:center; color:#fff;}
 
 .whopage{ margin-top:60px}
 
.successful { float:left; width:100%; margin: 30px 0; }
.success_text { background: green; color:#fff; padding: 15px; text-align: center; }
.alert { float:left; width:100%; margin: 30px 0; }
.alert_text { background: red; color:#fff; padding: 15px; text-align: center; }


 
@media (max-width: 1200px) {
	.container{ width:990px;}
	.cta .picture {width: 28%;}
	.cta .text p {font-size: 20px;}
	.home-box {width: 31%; padding-right: 32px;}
	.value-find .circle {width: 87%;height: 120px; padding-top: 60px; margin: 20px 8px;}
	.internal-content-sec-right .blue .content p {font-size: 14px;}
	.voorbeelden .box {padding: 24px;}
	.voorbeelden .box .text1 {width: calc(100% - 245px);}
	.voorbeelden .box .graph1 {width: 190px;}
	.pop-up {display: none;}
	.value-find:before { left:0px; width:0px; background: none; }
	.value-find:after {left:0px; width:0px; background: none; border: none; }
}

@media (max-width: 990px) {
	.container{ width:740px;}
	.navigation{ margin-top:20px;}
	.header li a{ font-size: 15px!important;}
	.content-sec span {font-size: 26px; line-height: 29px;}
	.cta .picture {width: 38%; margin: 0px 0 0 10px;}
	.cta .text {width: 59%;padding: 21px 0; line-height: 19px;}
	.cta .text p {font-size: 14px;margin-top: 20px;}
	.home-box {width: 32%; padding-right: 14px;}
	.home-box .heading .icon {width: 22%; margin-top: 2px;}
	.home-box .heading .text {width: 78%; font-size: 18px;}
	.value-find .circle {width: 91%;height: 89px; padding-top: 50px; margin: 0px; line-height: 20px; font-size: 20px;}
	.footer-right li a {padding: 0 12px;}
	.breadcrum .text {font-size: 34px;bottom: -12px;}
	.internal-content-sec-right .blue .content {width: calc(100% - 98px);padding: 11px 10px;}
	.internal-content-sec-right .blue .content p {font-size: 14px; line-height: 18px; }
	.voorbeelden .box {width: 92%;margin: 0 0 20px 0;}
	.bottom {padding-left: 25px;}
	.internal-content-sec-left, .field-left-contact {width: 100%;}
	.internal-content-sec-right { width: 49%;}
	.top-section .links li{font-size: 16px;}
	.top-header { padding: 25px 0px;}
	.bio .picture { width: 100%;}
	.bio .content {width: 100%;padding-left: 0px;}
	.field2{width:60%; } 
	.field3{width:40%;}
	.testimonials-sec.voorbeelden .box { width:100%; }
	.internal-content-sec-right .blue .content p{ font-size:16px !important;}
}


@media (max-width: 767px) {
	
	.container{ width:auto;  padding:0 20px}
	.logo {width: 45%;}
	.navigation{ margin-top:5px; width: 55%;}
	.header li a{ font-size: 20px!important;}
	.top-header {padding-bottom: 0px;}
	.content-sec, .content-image, .footer-left {width: 100%;}
	.footer-right {width: 100%; margin-top: 20px;}
	.footer-right ul{float: left;}
	.footer-right li:first-child a{ padding-left: 0px;}
	.cta .picture {width: 25%; margin: 0px 0 0 40px;}
	.cta .text {width: 67%;padding: 15px 0; line-height: 25px;}
	.cta .text p {font-size: 19px;margin-top: 10px;}
	.home-box {width: 100%; padding-right: 0px; margin-bottom: 20px;}
	.home-box .heading .icon {width: 10%; margin-top: 2px;}
	.home-box .heading .text {width: 90%; font-size: 18px;}
	.value-find .circle {width: 92%;height: 76px; padding-top: 40px; margin: 0px; line-height: 20px; font-size: 20px;}
	.footer-right li a {padding: 0 12px;}
	.section { padding: 30px 0 20px 0;}
	.value-find{ margin-bottom:0px;}
	.banner{ margin-top:20px;}
	.internal-content-sec-left, .internal-content-sec-right {width: 100%;}
	.gold-heading {margin-top: 20px;}
	.top-section .links {width: 100%;}
	.internal-content-sec-right .blue {margin: 20px 0 0 0px;}
	.internal-content-sec-right .blue .content{padding:8px 10px;}
	.internal-content-sec-right .blue .content p {font-size: 16px; line-height: 21px;}
	.top-section {margin: 0px 0 0px 0px;}
	.bottom{ padding-left: 0px;}
	.wie-ben-ik-top-yellow {width: 100%; margin-bottom:20px;}
	.field-left, .field-right, .field2, .field3, .field4, .field5, .field6, .field7 {width: 100%; padding-left: 0px;}
	.field{margin-bottom: 10px;}
	
	.contactinfo li span{ width:100%}
	.contactbtn span{ margin-bottom:20px; margin-right:0px; width:100%}
	.value-find{ width:calc(100% - 0px); border-right:#fff solid 0px;}
	button.btn{ margin-bottom:10px; width:auto; padding: 2px 15px; }
	.fieldhalf{ width:100%; padding-left:0px;}
	.section.offer-sec .internal-content-sec-right .blue{  margin-top:0px;}
	.voorbeelden.testimonials-sec .box .text { width: 100%; } 
	.voorbeelden .box .testimonial-info { width: 100%; } 
	.testimonials-sec.voorbeelden .box { width:100%; }
	
	
	}

@media (max-width: 600px) {
	
	.logo {width: 60%;}
	.navigation{width: 40%;}
	.cta .picture {width: 38%; margin: 0px 0 0 10px;}
	.cta .text {width: 58%;padding: 25px 0; line-height: 18px;}
	.cta .text p {font-size: 14px;margin-top: 15px;}
	.home-box .heading .icon {width: 15%;}
	.home-box .heading .text {width: 85%;}
	.value-find .circle-outer{ width:100%;}
	.value-find .circle {width: 50%;height: 120px; padding-top: 72px; margin: 5px 97px; line-height: 26px; font-size: 26px;}
	.footer-right li a {font-size: 16px}
	.value-find .heading{ line-height: 33px;}
	.voorbeelden .box .text, .voorbeelden .box .text1 {width: 100%;margin-bottom: 20px; padding: 0px;}
	.voorbeelden .box .graph, .voorbeelden .box .graph1 {width: 100%; float: left; text-align: left;}
	.voorbeelden .box {width: 88%;}
	.breadcrum{ width:300px; top: 82px;}
	.breadcrum .text {top: 130px; left: 80px;}
}

@media (max-width: 400px) {
	
	.logo {width: 70%;}
	.navigation{width: 30%; margin-top:0px;}
	.cta .picture {width: 51%; margin: 0px 0 0 80px;}
	.cta .text {width: 83%;padding: 20px 25px; line-height: 20px;}
	.cta .text p {font-size: 15px;margin-top: 10px;}
	.home-box{ margin-bottom:10px;}
	.home-box .heading .icon {width: 20%;}
	.home-box .heading .text {width: 80%;}
	.value-find .circle {width: 60%;height: 112px; padding-top: 67px; margin: 5px 59px;}
	.footer-right li a {font-size: 14px; padding: 0 7px;}
	.internal-content-sec-right .blue .content p {font-size: 12px; line-height: 15px;}
	.internal-content-sec-right .blue .content{padding:14px 10px;}
	.voorbeelden .box {width: 83%;}
	.value-find .heading { font-size: 29px;}
	.top-section .links ul { padding: 0px 11px;}
	.bio {padding: 20px;}
	.bio .content p {margin: 0 0 10px 0px;}
}

.internal-content-sec-left table{ width:100%; margin-bottom:20px; }
.internal-content-sec-left table td {
   border: #ccc solid 1px;
   padding: 12px 16px;
   font-size: 15px;
   vertical-align: top;
}